body{
    min-width: 500px;
    min-height: 100vh;
}

*::-webkit-scrollbar {
    display: none;
  }

  * {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }